{{/*
  tags.html
  Prints all the necessary tags for scripts

  @author @regisphilibert

  @context Any (.)

  @access public

  @example - Go Template
    <head>
      [...]
      {{ partialCached "tnd-scripts/tags.html" . }}
      [...]
    </head>
*/}}
{{ range $script := partialCached "tnd-scripts/private/GetSelectedScripts" $ $ }}
    {{ with $asset := .asset }}
      {{/* We init the $tag assuming inline is true so .RelPermalink is not invoked and resource is not published */}}
      {{ $tag := dict "name" "script" "inner" .Content }}
      {{/* If inline is false, then we need an external request */}}
      {{ if not $script.inline }}
        {{ $tag = dict "name" "script" "attr" (dict "type" "text/javascript" "src" .RelPermalink "crossorigin" "anonymous" "defer" "defer") }}
      {{ end }}
      {{ partialCached "tnd-tags/tag" $tag $tag }}
    {{ end }}
   
{{ end }}