
{{/*
  GetProcessedAsset
  Process a given Resource following module's logic

  @author @regisphilibert

  @context Map (.)
    Resource (.Resource)
    Map (.info)
      String (.name)
      String (.path)
      Map (.params)

  @access private

  @returns Resource

  @uses
     - partial

  @example - Go Template
    {{ with partialCached "GetProcessedAsset" context context }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $asset := dict }}

{{ $target := "es2015" }}

{{ $params := dict }}
{{ with .info.params }}
  {{ $params = dict "params" . }}
{{ end }}
{{ $minify := false }}
{{ $not_dev := partialCached "tnd-env/IsNot" "development" "development" }}
{{ $not_server := not site.IsServer }}
{{ if and $not_dev $not_server }}
  {{ $minify = true }}
{{ end }}

{{ $defines := partialCached "tnd-scripts/private/GetDefines" "GetDefines" }}

{{/* Use can choose a format through script setting */}}
{{ $format := "iife" }}
{{ if .info.format }}
  {{ $format = "cjs" }}
{{ end }}

{{/* We don't want to minify an inline script as function renaming might break script for functions
invoked elsewhere  */}}
{{ if .info.inline }}
  {{ $minify = false }}
{{ end }}

{{ $options := dict "target" $target "defines" $defines "format" $format "params" $params }}
{{ if $minify }}
  {{ $options = merge $options (dict "minify" true) }}
  {{ $asset = .Resource | js.Build $options | fingerprint }}
{{ else }}
  {{/* We add a sourceMap only on dev mode */}}
  {{ $options = merge $options (dict "sourceMap" "inline") }}
  {{ $asset = .Resource | js.Build $options }}
{{ end }}

{{ return $asset }}